<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    
    <display-name>platform</display-name>
    
    <!-- 设置路径变量值 -->
    <context-param>
        <param-name>webAppRootKey</param-name>
        <param-value>szboanda.root</param-value>
    </context-param>
 
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
        	classpath:conf/spring-system-config.xml;
        	classpath:conf/spring-mybatis.xml;
        	classpath:conf/platform/spring-base-platform.xml;
        </param-value>
	</context-param>
	
	<!-- 日志过滤器 -->
  	<filter>
		<filter-name>LogFilter</filter-name>
		<filter-class>com.szboanda.component.log.servlet.filter.LogFilter</filter-class>
		<init-param>
			<param-name>monitoring-path</param-name>
			<param-value>/platform/monitoring</param-value>
		</init-param>
		<init-param>
			<param-name>exclusions</param-name>
			<param-value>/resources/*,/platform/druid/*,/monitoring</param-value>
		</init-param>
		<init-param>
			<param-name>sessionKeys</param-name>
			<param-value>SESSION_USER_ID, SESSION_USER_ID, SESSION_USER_DEPT_ID, SESSION_USER_DEPT_NAME</param-value>
		</init-param>
		<init-param>
			<param-name>system.key</param-name>
			<param-value>szboanda.platform</param-value>
		</init-param>
		
	</filter>
	<filter-mapping>
		<filter-name>LogFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Druid 监控 -->
	<filter>
		<filter-name>DruidWebStatFilter</filter-name>
		<filter-class>com.alibaba.druid.support.http.WebStatFilter</filter-class>
		<init-param>
			<param-name>exclusions</param-name>
			<param-value>*/upload,*/addmenuaccess,/resources/*,/platform/druid/*</param-value>
		</init-param>
		<init-param>
			<param-name>principalSessionName</param-name>
			<param-value>SESSION_USER_ID</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>DruidWebStatFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- struts 加载 -->
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>
			org.apache.struts.action.ActionServlet
		</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>
				/WEB-INF/struts-config/struts-config-platform.xml
			</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>3</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>3</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>